/* components/Team.css  */
.team-section-wrapper {
  /* This gradient matches the Hero section for consistency */
  background: linear-gradient(
    135deg,
    rgba(42, 13, 91, 1) 0%,
    rgba(11, 15, 43, 1) 100%
  );
}

.team-member-image {
  width: 100%;
  max-width: 250px; /* Controls the max size of the image */
  height: auto;
  object-fit: cover;
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
}

.team-member-image:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
